*{
  color:#5e6857;
}

.countdown{
  margin-top:50px;
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:20px;
  width:100%;
  max-width:700px;
}

.count-box{
  padding:35px 20px;
  background:rgba(255,255,255,.45);
  border:1px solid rgba(122,133,107,.15);
}

.count-box span{
  font-size:3rem;
  font-family:'Cinzel', serif;
}

.count-box p{
  margin-top:10px;
  letter-spacing:2px;
}

.ending h2{
  max-width:850px;
  font-family:'Great Vibes', cursive;
  font-size:4rem;
  color:#617059;
  line-height:1.5;
}

.reveal{
  opacity:0;
  transform:translateY(80px);
  transition:1.4s ease;
}

.reveal.active{
  opacity:1;
  transform:translateY(0);
}

@media(min-width:768px){

  .countdown{
    grid-template-columns:repeat(4,1fr);
  }

}

@media(max-width:500px){

  .envelope{
    width:90%;
    height:220px;
  }

  .invite-main{
    font-size:1.7rem;
  }

  .ending h2{
    font-size:3rem;
  }

}
